* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #000000;
  padding: 0px;
  height:80px;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  margin-right: auto;
}

.logo img {
  height:40%;
  width:40%;
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.links a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 20px;
}

.links a:hover {
  color: #f9dbfc;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 18px 16px;
  background-color: transparent;
  cursor: pointer;
  transition: all .5s ease-in-out;
  margin-left: 20px;
}

.input::placeholder {
  color: transparent;
}

.input:focus::placeholder {
  color: rgb(131, 128, 128);
}

.input:focus,
.input:not(:placeholder-shown) {
  background-color: #fff;
  border: 1px solid rgb(91, 107, 255);
  width: 290px;
  cursor: none;
  padding: 18px 16px 18px 45px;
}

.icon {
  position: absolute;
  left: 0;
  height: 45px;
  width: 45px;
  background-color: #fff;
  border-radius: 99px;
  z-index: -1;
  fill: rgb(91, 107, 255);
  border: 1px solid rgb(91, 107, 255);
}

.input:focus+.icon,
.input:not(:placeholder-shown)+.icon {
  z-index: 0;
  background-color: transparent;
  border: none;
}

.order__count{
  margin-bottom: -8px;
}